@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #2f2f2f2f;
}

.cajero__titulo{
    text-align: center;
    margin-bottom: 30px;
}

.img__cajero{
    display: block;
    margin: 20px auto;
}

.button__container{

    width: 100%;
    text-align: center;
    margin: 40px 0;
   
}

.button__container button{

    margin: 0 10px;
    padding: 10px;
    cursor: pointer;

}

.button__container button:hover{
    transform: scale(1.05);
   
}







/* ESTILOS DE clientes y administrador */

.container__form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form__container{
    width: 300px;
    padding: 40px;
    background-color: #5252522f;
    text-align: center;
}


.input__documento,
.input__contraseña,
.btn__ingresar,
.btn__volver
 {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(120, 120, 120);
    width: 200px;
    outline: none;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
 
}   


.btn__ingresar,
.btn__volver{
    width: 150px;
    background: rgb(129, 129, 129);
    cursor: pointer;
    transition: all 0.25s;
    
}

.btn__ingresar:hover,
.btn__volver:hover{
    transform: scale(1.05);
}

.input__documento::-webkit-inner-spin-button,
.input__documento::-webkit-outer-spin-button{
    
    -webkit-appearance: none;


}

.btn__volver{
    width: 100px;
}

.denominacion__container{
    margin: 10px auto;
    width: 300px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f2f2f2f;
    padding: 20PX;
    border-radius: 20PX;
}

.denominacion__container input {
    margin-bottom: 5px;
}

.denominacion__container button{
    margin-bottom: 5px;
}




